@font-face {
  font-family: "Main Font";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bold Font";
  src: url("/src/fonts/LEMONMILK-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Regular Font";
  src: url("/src/fonts/LEMONMILK-Regular.otf") format("truetype");
}
*{
  font-family: "Main Font", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
